$white: #ffffff;
$lightWhite: #FDFDFD;
$darkWhite: #E5E5E5;
$fileWhite: #F9FBFB;
$messageWhite: #FDFDFE;
$yellow: #F3BA4A;
$lightBlue: #E3F6FC;
$purple: #6588DE;
$darkPurple: #95abd4;
$grey: #D0D9DF;
$lightGrey: #96A9BA;
$darkGrey: #52585D;
$dialGrey: #F6FBF9;
$red: #FD2828;
$green: #46D362;

