.contact-info {

  &.contact-info_extended {
    max-width: 600px;
  }

  &.contact-info_modal {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .contact-info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }

  .contact-info__media {
    width: 100%;
    border-top: 1px solid $grey;
    margin-top: 30px;
  }

  .contact-info__buttons {
    width: 100%;
    border-top: 1px solid $grey;
    padding-top: 20px;
  }

  .contact-info__media-wrapper {

    &:nth-child(n + 4) {
      margin-top: 10px;
    }

    &.contact-info__media-wrapper_more {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 33%;
    height: 82px;
  }

  .contact-info__media-image {
    width: 82px;
    height: 82px;
    object-fit: cover;
    border-radius: 8px;
  }

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 320px;
  border-radius: 14px;
  box-shadow: 0 8px 40px rgba(142, 194, 208, 0.4);
  background-color: $lightBlue;
  padding: 20px;
}
