.contact-info {

  &.contact-info_center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact-info__content {
    border-bottom: 1px solid $grey;
    padding-bottom: 30px;
  }

  .contact-info__buttons {
    border-top: 1px solid $grey;
    padding-top: 20px;
  }

  max-width: 320px;
  border-radius: 14px;
  box-shadow: 0 8px 40px rgba(142, 194, 208, 0.4);
  background-color: $lightBlue;
  z-index: 999;
  padding: 20px;
}
