.dropdown {

  &.end {
    bottom: -45px;
    top: unset;
  }

  .dropdown__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  border-radius: 5px;
  min-width: 100px;
  position: fixed;
  background-color: $purple;
  padding: 10px 5px;
  z-index: 3;
}
