.avatar {

  .avatar__circle {

    &.free {
      background-color: $green;
    }

    &.working {
      background-color: $yellow;
    }

    &.busy {
      background-color: $red;
    }

    border: 1px solid $white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
  }

  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid $yellow;
}
