.chat-message {

  &.chat-message_yellow {
    .chat-message__message {
      color: $messageWhite;
      background-color: $yellow;
      border-radius: 14px 0 14px 14px;
    }

    .chat-message__time {
      color: $messageWhite;
    }

    .chat-message__inner {
      margin-right: 10px;
      margin-left: 0;
    }

    .chat-message__name {
      text-align: right;
    }

    .chat-message__avatar {
      position: absolute;
      left: unset;
      right: 0;
      top: 0;
    }

    align-self: end;
  }

  .chat-message__time-holder {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 14px;
    right: 14px;
  }

  .chat-message__wrapper {
    position: relative;
  }

  .chat-message__name {
    color: $darkGrey;
  }

  .chat-message__message {
    &.chat-message__message_me {
      background-color: $yellow;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $darkGrey;
    background-color: $lightBlue;
    position: relative;
    border-radius: 0 14px 14px 14px;
    min-width: 188px;
    max-width: 504px;
    padding: 16px 20px 32px;
    margin-top: 10px;
    margin-left: auto;
  }

  .chat-message__time {
    opacity: 0.6;
    color: $purple;
    margin-right: 10px;
  }

  .chat-message__inner {
    margin-left: 10px;
  }

  .chat-message__avatar {
    position: absolute;
    left: 0;
    top: 0;
  }

  .chat-message__message-text {
    word-wrap: break-word;
  }

  .chat-message__image {

  }

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
