.chat-message {

  &.chat-message_yellow {
    .chat-message__message {
      color: $messageWhite;
      background-color: $yellow;
      border-radius: 14px 0 14px 14px;
    }

    .chat-message__time {
      color: $messageWhite;
    }

    .chat-message__inner {
      margin-right: 10px;
      margin-left: 0;
    }

    .chat-message__name {
      text-align: right;
    }

    align-self: end;
  }

  .chat-message__time-holder {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 14px;
    right: 14px;
  }

  .chat-message__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .chat-message__name {
    font-weight: bold;
    color: $darkGrey;
  }

  .chat-message__image-wrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
  }

  .chat-message__message {

    .chat-message__image-wrapper {
      width: 440px;
      height: 500px;
    }

    &.chat-message__message_double{

      .chat-message__image-row {
        flex-wrap: nowrap;
      }

      .chat-message__image-wrapper {
        width: 49%;
        height: 400px;
      }

      max-width: none;
    }

    &.chat-message__message_quadruple {
      .chat-message__image-wrapper {
        width: 49%;
        height: 267px;
      }

      max-width: 750px;
    }

    &.chat-message__message_triple,
    &.chat-message__message_quintuple {
      .chat-message__image-wrapper {
        &:last-child {
          width: 100%;
          max-width: 100%;
          height: 400px;
        }

        max-width: 49%;
        height: 300px;
      }

      max-width: 600px;
    }

    &.chat-message__message_me {
      background-color: $yellow;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $darkGrey;
    background-color: $lightBlue;
    border-radius: 0 14px 14px 14px;
    min-width: 188px;
    max-width: 480px;
    padding: 16px 20px 32px;
    margin-top: 10px;
    margin-left: auto;
  }

  .chat-message__image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }

  .chat-message__time {
    opacity: 0.6;
    color: $purple;
    margin-right: 10px;
  }

  .chat-message__inner {
    margin-left: 10px;
  }

  .chat-message__message-text {
    word-wrap: break-word;
  }

  .chat-message__image {
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }

  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
