.sidebar-menu-button {

  &.active,
  &:hover {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 48px;
      height: 4px;
      background-color: $purple;
      border-radius: 15px 15px 0 0;
    }

    path {
      fill: $purple;
    }
  }

  position: relative;
  transition-duration: 0.3s;
  padding-bottom: 40px;
}
